body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#131314, green, black);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 2px black;
}

#bff-img {
    width: 160px;
    border-radius: 150px;
    border: 6px solid green;
    margin-bottom: 10px;
}

#bday-age {
    /* background: green; */
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: green;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift\ box.jpeg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/IMG_1686.jpg");
}

#gift-img-hot:hover {
    background-image: url("https://media4.giphy.com/media/FWZ1OyaAtsnQs/giphy.webp?cid=ecf05e47yof6hdn1fgp5mnu87uzi4cgysf4rxsmy55tdsdbk&rid=giphy.webp&ct=g");
}

#gift-img-genius:hover {
    background-image: url("https://media3.giphy.com/media/qiMbL701IR1PTRUeDY/200w.webp?cid=ecf05e472td6oyrs0ouwpeyszfyibqqmryvfkovr3m0sam5w&rid=200w.webp&ct=g");
}

#gift-img-badass:hover {
    background-image: url("images/IMG_3162.jpg");
}

#gift-img-cheers:hover {
    background-image: url("https://media3.giphy.com/media/BPJmthQ3YRwD6QqcVD/200w.webp?cid=ecf05e47wuaq0v34g34m3d76z0kutskjjiivphq0gi334k8e&rid=200w.webp&ct=g");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
